<!DOCTYPE html>
<html>
<head>
  <title>Housecall Network</title>
  
  <meta charset="utf=8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= csrf_meta_tag %>
</head>
<body>

	<%= render 'layouts/header' %>

	<main class="containerOFF">
		<section id="banner">
			<%= yield :banner %>
		</section>
		
		<section id="page-content" class="container">
			<%= yield %>
		<section>
	</main>
	
	<footer>
		<h4 id="footer-header">HOUSECALL NETWORK</h4>
		<div id="footer-body" class="container">
			<!--<p>HCN Central is a product of Housecall Network.</p>-->
			<%#= link_to 'Take me to HCN CENTRAL', root_url(subdomain: 'central') %>
		</div>
	</footer>
</body>
</html>
