<!DOCTYPE html>
<html>
<head>
  <title>HCN CENTRAL</title>
  
  <meta charset="utf=8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= csrf_meta_tag %>
</head>
<body>

	<header>
		<nav class="navbar ">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">HCN CENTRAL</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
        		<li><a href="<%= doctors_path %>">Doctors</a></li>
        		<li><a href="<%= patients_path %>">Patients</a></li>
        		<li><a href="<%= locations_path %>">Locations</a></li>
        		<li><a href="<%= nodes_path %>">Nodes</a></li>
        		<li><a href="<%= appointments_path %>">Appointments</a></li>
        		<li><a href="<%= data_entries_path %>">Data</a></li>
        	</ul>
				</div>
			</div>
		</nav>
	</header>

	<section class="container">
		<%= yield %>
	</section>
	
	<footer>
		<h4 id="footer-header">HCN CENTRAL</h4>
		<div id="footer-body" class="container">
			<!--<p>HCN Central is a product of Housecall Network.</p>-->
			<%= link_to 'Take me to Housecall Network', root_url(subdomain: '') %>
		</div>
	</footer>
</body>
</html>
