<!DOCTYPE html>
<html>
<head>
  <title>Please sign in to proceed</title>
  
  <meta charset="utf=8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= stylesheet_link_tag    'sessions', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= csrf_meta_tag %>
</head>
<body>

	<header class="signin-header">
			<h1>Housecall Network</h1>
	</header>

	<section class="container">
		<%= yield %>
	</section>
	
	<footer>
		<h4 id="footer-header">Housecall Network</h4>
		<div id="footer-body" class="container">
			<!--<p>HCN Central is a product of Housecall Network.</p>-->
		</div>
	</footer>
</body>
</html>
